@model PharmacyApp.Models.Medicine

@{
    ViewData["Title"] = "Delete " + Model.Name;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <input type="hidden" asp-for="Id" />
    <h3 class="color-name-derail">@Model.Name </h3>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-12 div-style">
                <div class="col-md-6">Medicine: @Model.Name</div>
                <div class="col-md-6">Price: @Model.Price BYN</div>
            </div>
            <div class="col-md-12 div-style">
                <div class="col-md-6">
                    Presence pharmacy:
                    <span class="label @(Model.AvailabilityPharmacy ? "label-success" : "label-danger")">
                        @(Model.AvailabilityPharmacy ? "Available" : "Not available")
                    </span>
                </div>
                <div class="col-md-6">
                    Prescription availability:
                    <span class="label @(Model.PrescriptionMedicine == false ? "label-success" : "label-danger")">
                        @(Model.PrescriptionMedicine == false ? "Without recipe" : "With recipe")
                    </span>
                </div>
            </div>
            <div class="col-md-12 div-style">
                <div class="col-md-6">International name: @Model.InternationalName.Name</div>
                <div class="col-md-6">Company: @Model.Company.Name</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="project project-info">
                <div class="shape">
                    <div class="shape-text">
                        PharmacyApp
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="lead">
                        Description @Model.Name
                    </h3>
                    <p>
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default button" /> |
            <a href="/catalog">Back to Catalog</a>
        </div>
    </form>
</div>
